:root {
    --logo: url("https://cdn.jsdelivr.net/gh/n00bcodr/assets/skynet.png") !important;
}

.pageTitleWithDefaultLogo {
    background-size: 100% !important;
}

.layout-mobile .pageTitleWithDefaultLogo {
    width: 120px !important;
}

#loginPage .visualLoginForm:not(.hide) h1::before {
  background-size: 30% !important;
}

#loginPage .manualLoginForm:not(.hide) h1.sectionTitle::before {
  background-size: 100% !important;
}